<button class="btn btn-blue" (click)='onButton($event)' [ngStyle]="{'background-color': backgroundColor}">
  <svg-icon [key]="icon" [size]="size"></svg-icon>
  <span [ngStyle]="{'font-size': fontSize + 'px'}">{{ label }}</span>
</button>
