<div class="flex space-x-12 items-center">
  <nx-ng-poc-stroybook-button icon="angular" size="lg">Angular</nx-ng-poc-stroybook-button>
  <nx-ng-poc-stroybook-button icon="tailwind" size="lg">Tailwind</nx-ng-poc-stroybook-button>
</div>
