<div [ngStyle]="{'background-color': backgroundcolor}">
  <h1 class='class="text-gray-700 text-xl font-bold"'>按鈕組件</h1>
  <p>這裡有兩個按鈕GOGOGO</p>
  <nx-ng-poc-stroybook-button-group></nx-ng-poc-stroybook-button-group>
</div>

